@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap"); // @font-face {
//   font-family: "PPHatton";
//   src: url("/fonts/PPHatton-Ultralight-200.woff2") format("woff2");
//   font-weight: 200;
//   font-display: swap;
// }
// @font-face {
//   font-family: "PPHatton";
//   src: url("/fonts/PPHatton-Medium-500.woff2") format("woff2");
//   font-weight: 500;
//   font-display: swap;
// }
// @font-face {
//   font-family: "PPHatton";
//   src: url("/fonts/PPHatton-Bold-700.woff2") format("woff2");
//   font-weight: 700;
//   font-display: swap;
// }
// @font-face {
//   font-family: "VVSNobleman";
//   src: url("/fonts/VVS-Nobleman-300.woff2") format("woff2");
//   font-weight: 300;
//   font-display: swap;
// }
// @font-face {
//   font-family: "VVSNobleman";
//   src: url("/fonts/VVS-Nobleman-400.woff2") format("woff2");
//   font-weight: 400;
//   font-display: swap;
// }

// @font-face {
//   font-family: "TrajanPro";
//   src: url("/fonts/TrajanPro-Regular.woff2") format("woff2");
//   font-weight: 400;
//   font-display: swap;
// }
// @font-face {
//   font-family: "TrajanPro";
//   src: url("/fonts/TrajanPro-Bold.woff2") format("woff2");
//   font-weight: 500;
//   font-display: swap;
// }
// @font-face {
//   font-family: "TrajanPro";
//   src: url("/fonts/TrajanPro-Bold.woff2") format("woff2");
//   font-weight: 600;
//   font-display: swap;
// }
// @font-face {
//   font-family: "TrajanPro";
//   src: url("/fonts/Trajan-Pro.woff2") format("woff2");
//   font-weight: 300;
//   font-display: swap;
// }
// @font-face {
//   font-family: "LibreBaskerville";
//   src: url("/fonts/LibreBaskerville-Regular.woff2") format("woff2");
//   font-weight: 400;
//   font-display: swap;
// }
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation_Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

// @font-face {
//   font-family: "Mija";
//   src: url("/fonts/MijaRegular.woff2") format("woff2");
//   font-weight: 500;
//   font-display: swap;
// }

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

.default-heading {
  font-size: 2.875rem;
  // font-weight: 700;
  line-height: 1.1;
  // color: #fff;
  @media screen and (max-width: $mobileResolution) {
    font-size: 2.3rem;
  }
  span {
    color: $primary;
  }
  &.h1 {
    font-size: 5.625rem;
    @media screen and (max-width: $mobileResolution) {
      font-size: 3.375rem;
    }
  }
  &.h3 {
    font-size: 2.1rem;
    line-height: 1.3;
    @media screen and (max-width: $mobileResolution) {
      font-size: 24px;
      line-height: 1.5;
    }
  }
  &.h4 {
    font-size: 1.2625rem;
    @media screen and (max-width: $mobileResolution) {
    }
  }
  &.subheading {
    font-size: 1.2625rem;
    text-transform: uppercase;
    display: block;
    @media screen and (max-width: $mobileResolution) {
      font-size: 1rem;
    }
  }
}
p {
  font-size: 1.125rem;
  @media screen and (max-width: $mobileResolution) {
    font-size: 0.875rem;
  }
}

.text-upper {
  text-transform: uppercase;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.orange {
  color: #ff9235;
}

.gradient-text {
  background: linear-gradient(180deg, #dbb562 0%, #f4d6b2 122.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.f-lg {
  font-family: $font-alternate;
}

.f-mija {
  font-family: $font-default;
}

.f30 {
  font-size: 1.875rem; // 30px
  font-size: 2.5rem; //40px
  line-height: 48px;
}
.f37 {
  font-size: 37px;
}

.f40 {
  font-size: 40px;
}

.f22 {
  font-size: 37px;
}
.f26 {
  font-size: 26px;
}

.titleShadow {
  text-shadow: 0px 4px 18px rgba(6, 182, 230, 0.8);
  // font-family: $font-alternate;
}

.blue {
  color: $color-proton;
}

.fw400 {
  font-weight: 400;
}

@media only screen and (max-width: $mobileResolution) {
  .fm-26 {
    font-size: 26px;
  }

  .fm-18 {
    font-size: 18px;
  }
}
