.theme-modal-ui {
  .title {
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 0.6rem;
    font-weight: 400;
  }
  .ant-modal-close {
    color: #fff;
    opacity: 0.6;
  }
  .ant-modal-body,
  .ant-modal-content {
    background-color: transparent;
  }
  .ant-modal-content {
    background: #282626de;
    backdrop-filter: blur(29.4548px);
    border-radius: 16px;
    padding: 1rem 0.5rem;
  }
}
.theme-form {
  input {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    height: 2.7rem;
    color: #fff;
    &:focus,
    &:hover {
      border-color: rgba($color: $color-proton, $alpha: 0.7);
    }
    &::placeholder {
      opacity: 0.7;
    }
  }
  .btn-large {
    width: 70%;
  }
}

.ant-input,
.ant-input-number {
  font-size: 1rem;

  border: 0px solid #362a16;
  border-radius: 4px;
  height: 44px;
  font-family: "SpaceGrotesk", sans-serif;
  color: #fff;
  padding-bottom: 0;
  width: 100%;
}
.stakeForm {
  margin-top: 3rem;
  input {
    border: 0;
    font-family: $font-default;
    // background: #0e0e0d !important;
    opacity: 0.8;
    box-shadow: unset;
    background: url("/images/staking/input-border.png"), #000 no-repeat;
    background-size: 100% 100%;

    &::placeholder {
      color: #fff;
    }
  }
}
.ant-radio-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  display: flex;
  font-size: 0;
  @media only screen and (max-width: $mobileResolution) {
    display: block;
  }
}
.ant-radio-button-wrapper:not(:first-child)::before {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  box-sizing: content-box;
  width: 1px;
  height: 100%;
  padding: 1px 0;
  background-color: unset;
  transition: background-color 0.3s;
  content: "";
}
.ant-form label {
  font-size: 14px;
  border: 0;
  font-size: 21px;
  line-height: 143%;
  &::focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: unset;
  background: url(/images/staking/btn-selected-bg.png);
  background-size: 100% 100%;
  border-color: unset;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: unset;
}
.ant-btn:hover,
.ant-btn:focus {
  color: unset;
  border-color: unset;
  background: linear-gradient(90deg, #3ef4ff 37.84%, rgba(0, 0, 0, 0) 529.4%);
}
.ant-btn,
.btn-primary {
  // padding: 18px 89px 18px;
  grid-gap: 8px;
  grid-gap: 8px;
  gap: 8px;
  text-shadow: 0 1px 3px #000;
  background: linear-gradient(90deg, #3ef4ff 37.84%, rgba(0, 0, 0, 0) 529.4%);
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  background-size: 100% 310%;
  border: 0px;
  text-shadow: unset;
  color: #000;
  font-weight: 700;
  // font-family: $font-default;
  // $font-default: "Source Sans Pro", sans-serif;
}
.ant-btn {
  // height: 3.6rem;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
.claim {
  padding: 1px 28px;
  text-transform: capitalize;
  font-size: 14px;
}
.btn1 {
  margin: 0 20px 0 40px;
}

.ant-dropdown-open {
  background: #2e2e2e;
}

.stock-duration-dropdown {
  background: #222222;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    color: #fff;
  }
  .ant-dropdown-menu-item {
    border-radius: 10px;

    &:hover {
      background-color: $color-proton;
      color: #000;
    }
  }
}
.ant-progress-text {
  display: none;
  width: 2em;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  word-break: normal;
}
.ant-progress-show-info .ant-progress-outer {
  margin-right: calc(-2em - 8px);
  padding-right: unset;
}
.ant-progress-bg {
  position: relative;
  background-color: #05ffff !important;
  background-image: unset !important;
  border-radius: 100px;
  transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}
.ant-progress-inner {
  position: relative;
  display: inline-block;
  width: 150%;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 100px;
  background: gray;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  vertical-align: top;
}
