.btn-prt {
  padding: 0.8rem 3rem;
  border-radius: 10px;
  background-color: $color-proton;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  height: unset;
  border: 0;
  &:hover,
  &:active,
  &:focus {
    background-color: $color-proton;
    color: #000;
  }
  &--bordered {
    color: $color-proton;
    background-color: transparent;
    border: 1px solid $color-proton;
  }
  @media screen and (max-width: $mobileResolution) {
    padding: 0.8rem 2rem;
  }
}
