$primary: #000;
$darkBlue: #020f18;
$siteBackground: #030f19;
$defaulTextColor: #fff;
$lightBg: #f0f0f0;
$color-gray: rgb(78, 78, 78);

$darkBlack: #131016;

$color-danger: #f66e6a;
$font-default: "Source Sans Pro", sans-serif;
$font-alternate: "Monomaniac", serif;
$default-radius: 20px;

//Proton
$font-proton: "Satoshi", sans-serif;
$color-proton: #18f6f6;
$color-alternate: #d4cb49;

//Stocks

// Screen Resolution

$mobileResolution: 767px;
$tabResolution: 768px;
$ipadProResolution: 1281px;
$smallerResolution: 300px;
$mediumScreenResolution: 1500px;
$largerScreenResolution: 1920px;
