@import "/styles/variables.scss";


.container{
    // height: 900px;
    
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    position: relative;
    
    
    // padding-top: 56.25%;

    @media screen and (max-width: $mobileResolution) {
        display: flex;
        flex-direction: column;

    }

    .iframe{
        position: relative;
        // margin:  0 2rem ;
        height: 100px;
        width: 100px;
    }

    margin-bottom: 50px;
}