@import "/styles/variables.scss";


.container{
    height: 900px;
    width: 100%;

    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $mobileResolution) {
        display: flex;
        flex-direction: col;
    }

    .iframe{
        // margin:  0 2rem ;
        height: 500px;
        width: 100px;
    }
}