@import "/styles/variables.scss";

.container {
  margin: 10px;
  margin-right: 10px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $mobileResolution) {
    height: unset;
  }
}
