@import "/styles/variables.scss";

.container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4rem;
    .title {
      width: 30rem;
      @media screen and (max-width: $mobileResolution) {
        width: 10rem;
        margin-top: 3rem;
      }
    }
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(29.4548px);
  margin: 0.7rem 0;
  padding: 0.5rem 0.5rem;
  border-radius: 16px;
  @media screen and (max-width: $mobileResolution) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
  }
  .onlyMobile {
    @media screen and (min-width: $mobileResolution) {
      display: none;
    }
  }
  .onlyDesktop {
    @media screen and (max-width: $mobileResolution) {
      display: none;
    }
  }
  .col {
    flex: 0 0 20%;
    @media screen and (max-width: $mobileResolution) {
      margin-top: 1rem;
    }
  }
  .address {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }
  .name {
    display: inline-block;
    margin-left: 0.5rem;
  }
  .action {
    padding: 0.6rem 2rem;

    @media screen and (max-width: $mobileResolution) {
      padding: 0.6rem 1rem;
      margin-top: 1rem;
    }
  }
  .title {
    display: flex;
    align-items: center;
  }
}
